@import "./reset.css";

:root{
	--grey-100: #f1f2f6;
	--grey-200: #dfe4ea;
	--grey-300: #ced6e0;
	--grey: #a4b0be;
	--grey-600: #747d8c;
	--grey-700: #57606f;
	--grey-800: #2f3542;

	--green-50: #a3d4aB;
	--green-100: #93C49B;
	--green-200: #00AF14;
	--green-300: #2DA744;
	--green: #00AF32;
	--green-600: #008732;
	--green-700: #006432;
	--green-800: #004B32;


	--px-xs: 5px;
	--px-sm: 8px;
	--px-md: 12px;
	--px-lg: 16px;
	--px-xl: 24px;
}

body{
	color: var(--grey-800);

  height: 100vh;
  width: 100vw;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-family: 'Lato', sans-serif;

}
i{
	padding: 0 4px;
}
table{
	box-sizing: content-box;
	table-layout: fixed;
}
tr:nth-child(2n) {
  background: var(--grey-100);
}
th{
	padding: var(--px-sm) var(--px-md);
	text-align: center;
	color: var(--grey-800);
	border: 1px solid var(--grey-300);
}
tr:hover td{
	background-color: var(--grey-200);
}
td{
	padding: var(--px-sm) var(--px-md);
	min-width: 80px;
	font-size: 14px;
	border: 1px solid var(--grey-100);
	font-weight: 300;
}
button{
	font-weight: bold;
	margin-right: var(--px-sm);
	padding: var(--px-sm) var(--px-md);
	font-size: 14px;
	color: var(--grey-100);
	border: 3px;
	background-color: var(--green-100);
}
button:hover{
	background-color: var(--green-50);
}
.jazz-table-container{
	max-width: 840px;
	max-height: 640px;
	text-align: right;
	overflow: scroll;

	border: solid 1px var(--green-100);
}

.jazz-tbody-container{
	max-height: 540px;
	overflow-y: scroll;
}
.toolbar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: var(--px-md);
	border: solid 1px var(--green-100);
	background-color: var(--green-100);
	color: white;
	border-bottom: none;
	font-size: 14px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.toolbar-input{
	align-self: flex-end;
}
.footbar{
	display: flex;
	justify-content: space-between;
	padding: var(--px-sm);
	border: solid 1px var(--green-100);
	background-color: var(--green-100);
	color: white;
	border-top: none;
	font-size: 14px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.footbar span{
	margin-right: var(--px-sm);
}
.footbar-options{
	display: flex;
}
